<!-- PRELOADER -->
<div id="ldr">
  <div class="lr"><span></span></div>
  <div class="ln" id="ln">VEDANT SAREEN</div>
  <div class="lrole" id="lrole">CYBERSECURITY ENGINEER</div>
  <div class="lbar"><div class="lbar-f" id="lbf"></div></div>
  <div class="lpct" id="lpct">0%</div>
  <div class="lmsg" id="lmsg">ESTABLISHING SECURE CHANNEL...</div>
</div>
